<!DOCTYPE html>
<html>
<head>
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/styles.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <title>Contact List</title>
</head>
<body>
  <h1 class="jumbotron">Your Contact List</h1>
  <div class="container">
    <h4>Welcome to your Contact List. Clicks the buttons to navigate the site. You can add contacts to your list, and it will keep them for you to look up.</h4><br>
    <div class="row">
      <div class="col-sm-6">
          <a href="/add_new_contact"><button type="button" class="btn">Add a Contact</button></a>
      </div>

      <div class="col-sm-6">
        <form action="/delete_all" method="post">
          <button type="submit" class="btn">Clear List</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h4>Contact List:</h4>
        {% if all_contacts is not empty %}
        {% for contact in all_contacts %}
        <ul>
          <li class="main_contact_name"><strong>{{ contact.getFullName }}</strong></li>
            <ul>
              <li>{{ contact.getPhoneNumber }}</li>
              <li>{{ contact.getStreet }}</li>
              <li>{{ contact.getCity}}, {{ contact.getState}}, {{ contact.getZip}}</li>
            </ul>
        </ul>
        {% endfor %}
        {% endif %}

        {% if all_contacts is empty %}
        <p>You don't have any contacts at the moment!</p>
        {% endif %}
      </div>
  </div>
</body>
</html>
